/** VARIABLES **/
$primary: #ffffff;
$blue: #8aaae5;

/** BASIC STYLING RULES **/
:root {
    font-size: 100%;
    font-size: 16px;
    line-height: 1.5;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
    font-family: "Inter", "Helvetica", sans-serif;
    font-weight: 500;
}

h1 {
    font-size: 5vw;
    font-weight: 800;
}

h2 {
    font-size: 2.25rem;
    font-weight: 400;
}

p {
    font-size: 2.25rem !important;
    font-weight: 500;
}

h3 {
    font-size: 1.62rem;
    font-weight: 500;
}

a {
    color: $primary;
    text-decoration: underline;
    transition: background 0.2s ease;

    &:hover {
        color: $primary !important;
        text-decoration: none;
        transition: background 0.2s ease;
    }
}

button {
    background: $primary;
    color: $blue;

    border: 3px solid white;
    border-radius: 5px;
    padding: 5px;

    font-size: 1.1rem;
    font-weight: 800;
    
    transition: background 0.2s ease;

    &:hover {
        background: $blue;
        color: $primary;
        transition: background 0.2s ease;
    }
}

.bold {
    font-weight: 800;
    font-style: italic;
}

.serif {
    font-family: "Roboto Slab", serif;
    font-style: italic;
}

.social {
    ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;

        list-style: none;
    }
}

.icon {
    font-size: 3.25rem;
    color: $primary;
}

.cover,
.content {
    min-height: 100vh;
}

.cover {
    background-image: url("/assets/profile-blue.png");
    background-size: cover;
    background-position: center;

    filter: grayscale(70%);
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    padding: 50px;
    background-color: $blue;
    color: $primary;
}
