* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: 0;
          box-sizing: 0;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Inter, Helvetica, 'sans-serif';
  color: #FFFFFF;
  background-color: #0040BF;
  -webkit-animation-name: load;
          animation-name: load;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
}

.serif {
  font-family: 'Roboto Slab', serif;
}

.inactive {
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  opacity: 50%;
}

.inactive:hover {
  cursor: default;
  text-shadow: none !important;
}

.inactive:active {
  color: #FFFFFF !important;
  text-shadow: none !important;
}

.highlight {
  color: #0040BF;
  font-style: italic;
}

.uhighlight {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, rgba(255, 255, 255, 0)), color-stop(50%, #0040BF));
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 50%, #0040BF 50%);
}

ul {
  list-style: none;
}

a {
  cursor: pointer;
  text-decoration: underline;
  font-weight: 400;
  font-style: italic;
  -webkit-transition: .1s;
  transition: .1s;
  color: #FFFFFF;
}

a:visited {
  text-decoration: none;
}

a:hover {
  color: #FFC72C;
}

a:active {
  color: #FFC72C;
  text-decoration: none;
}

button {
  cursor: pointer;
  font-weight: 800;
  text-transform: uppercase;
  color: #000000;
  background: #FFFFFF;
  -webkit-box-shadow: 5px 5px #0040BF;
          box-shadow: 5px 5px #0040BF;
  border: none;
  border-radius: 5px;
  padding: 5px 10px 5px 10px;
  -webkit-transition: .1s;
  transition: .1s;
}

button:visited {
  color: #0040BF;
}

button:hover {
  color: #0040BF;
  -webkit-box-shadow: 5px 5px #0040BF;
          box-shadow: 5px 5px #0040BF;
}

button:active {
  color: #FFFFFF;
  background: #0040BF;
  -webkit-box-shadow: 5px 5px #FFFFFF;
          box-shadow: 5px 5px #FFFFFF;
}

.special {
  font-weight: 400;
  font-style: italic;
}

.content {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content h2 {
  font-size: 1.2rem;
}

.content .title {
  margin-bottom: 20px;
}

.content .title h2 {
  font-size: 2rem;
  text-align: justify;
  font-weight: 400;
}

.content .title h1 {
  font-size: 4.1rem;
  margin-bottom: 10px;
  font-weight: 800;
}

.content .status {
  margin-bottom: 20px;
}

.content .status .now {
  font-size: 2rem;
  font-weight: 700;
  color: #FFC72C;
}

.content .interests {
  margin-bottom: 50px;
}

.content .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
}

.content .contact h2 {
  word-spacing: 40px;
}

@media (min-width: 425px) {
  html {
    font-size: 80%;
  }
}

@media (min-width: 992px) {
  html {
    font-size: 170%;
  }
}

@-webkit-keyframes load {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes load {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*# sourceMappingURL=styles.css.map */