:root[color-mode="light"] .light--hidden {
  display: none;
}

:root[color-mode="dark"] .dark--hidden {
  display: none;
}

:root[color-mode="light"] {
  --primary: #ffffff;
  --secondary: #000000;
  --accent: #f99820;
}

:root[color-mode="dark"] {
  --primary: #000000;
  --secondary: #ffffff;
  --accent: #f99820;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: 0;
          box-sizing: 0;
}

html {
  height: 100%;
  font-size: 65.2%;
}

body {
  height: 100%;
  width: 100%;
  background-color: var(--primary);
  color: var(--secondary);
  font-family: 'Recursive', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#bulb {
  background-color: var(--primary);
  color: var(--secondary);
  border: none;
  font-size: 3rem;
}

#bulb:hover {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  color: var(--accent);
}

.typer, .cursor {
  color: var(--secondary);
}

.wrapper {
  padding: 20px;
  text-align: center;
}

header {
  padding-bottom: 20px;
}

h1 {
  font-size: 4.5rem;
  font-weight: 900;
  margin-bottom: 5px;
}

h2 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 20px;
}

h2 .accent {
  color: var(--accent);
  text-shadow: 2px 2px var(--secondary);
}

h3 {
  font-size: 1.7rem;
  font-weight: 500;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

a {
  text-decoration: none;
}

a:hover {
  color: var(--secondary);
}

.underline {
  text-decoration: underline;
}

footer .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer .social i {
  color: var(--accent);
  font-size: 3rem;
  margin-right: 10px;
}

footer .social i:hover, footer .social i :visited {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  color: var(--secondary);
}

footer button {
  background-color: var(--secondary);
  color: var(--primary);
  font-weight: 700;
  border: 5px solid;
  border-radius: 8px;
  border-color: var(--secondary);
  text-shadow: 1px 1px var(--accent);
  -webkit-box-shadow: 2px 2px var(--accent);
          box-shadow: 2px 2px var(--accent);
}

footer button:hover {
  -webkit-transition: 0.1s;
  transition: 0.1s;
  -webkit-box-shadow: 5px 5px var(--accent);
          box-shadow: 5px 5px var(--accent);
  text-shadow: 2px 2px var(--accent);
}

.wave {
  font-size: 3.7rem;
  -webkit-animation-name: wave-animation;
          animation-name: wave-animation;
  /* Refers to the name of your @keyframes element below */
  -webkit-animation-duration: 2.5s;
          animation-duration: 2.5s;
  /* Change to speed up or slow down */
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  /* Never stop waving :) */
  -webkit-transform-origin: 70% 70%;
          transform-origin: 70% 70%;
  /* Pivot around the bottom-left palm */
  display: inline-block;
}

@-webkit-keyframes wave-animation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  10% {
    -webkit-transform: rotate(14deg);
            transform: rotate(14deg);
  }
  /* The following five values can be played with to make the waving more or less extreme */
  20% {
    -webkit-transform: rotate(-8deg);
            transform: rotate(-8deg);
  }
  30% {
    -webkit-transform: rotate(14deg);
            transform: rotate(14deg);
  }
  40% {
    -webkit-transform: rotate(-4deg);
            transform: rotate(-4deg);
  }
  50% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  60% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  /* Reset for the last half to pause */
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes wave-animation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  10% {
    -webkit-transform: rotate(14deg);
            transform: rotate(14deg);
  }
  /* The following five values can be played with to make the waving more or less extreme */
  20% {
    -webkit-transform: rotate(-8deg);
            transform: rotate(-8deg);
  }
  30% {
    -webkit-transform: rotate(14deg);
            transform: rotate(14deg);
  }
  40% {
    -webkit-transform: rotate(-4deg);
            transform: rotate(-4deg);
  }
  50% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  60% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  /* Reset for the last half to pause */
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@media (min-width: 370px) {
  .social i {
    font-size: 3.7rem;
  }
  .social button {
    font-size: 1.5rem;
  }
}

@media (min-width: 576px) {
  .wrapper {
    padding: 20px;
    border: 5px solid var(--secondary);
    border-radius: 10px;
    -webkit-box-shadow: 20px 20px var(--secondary);
            box-shadow: 20px 20px var(--secondary);
  }
  .wave {
    font-size: 5rem;
  }
}
/*# sourceMappingURL=styles.css.map */