// Variables
$secondary: #FFFFFF;
$primary: #000000;
$accent: #0038FF;
$accent_sec: #FFC72C;

* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

html {
    font-size: 62.5%;
    height: 100%;
    
}

body {
    height: 100vh;
    width: 100vw;
    font-family: Inter, Helvetica, 'sans-serif';
    color: $secondary;
    background-color: $secondary;
    animation-name: load;
    animation-duration: 4s;
}

.serif {
    font-family: 'Roboto Slab', serif;
    font-style: italic;
}

.inactive {
    text-decoration-line: line-through;
    opacity: 50%;

    &:hover {
        cursor: default;
        text-shadow: none !important;
    }

    &:active {
        color: $secondary !important;
        text-shadow: none !important;
    }
}

.highlight {
    color: $accent;
    font-style: italic;
}

.uhighlight {
    background: linear-gradient(180deg,rgba(255,255,255,0) 50%, $accent 50%);
}

ul {
    list-style: none;
}

a {
    cursor: pointer;
    text-decoration: underline;
    transition: .1s;
    color: $primary;

    &:visited {
        text-decoration: none;
    }

    &:hover {
        color: $accent_sec;
    }

    &:active {
        color: $accent_sec;
        text-decoration: none;
    }
}

button {
    cursor: pointer;
    font-weight: 800;
    text-transform: uppercase;
    color: $primary;
    background: $secondary;
    box-shadow: 5px 5px $accent;
    border: none;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    transition: .1s;

    &:visited {
        color: $accent
    }

    &:hover {
        color: $accent;
        box-shadow: 5px 5px $accent;
    }

    &:active {
        color: $secondary;
        background: $accent;
        box-shadow: 5px 5px $secondary;
    }  
}

.content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $primary;    
    
    .title {
        margin-bottom: 20px;
        h2 {
            font-size: 2.5rem;
            text-align: justify;
            font-weight: 400;
        }
    
        h1 {
            font-size: 4.5rem;
            margin-bottom: 10px;
            font-weight: 800;

        }
    }

    .status {
        margin-bottom: 20px;
        h2 {
            font-size: 1.2rem;
        }

        .now {
            font-size: 2rem;
            font-weight: 700;
            color: $accent_sec;
        }
    }

    .contact {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 280px;
        padding: 5px;

        .links {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            margin-bottom: 5px;
        }

        h3 {
            align-self: center;
            font-size: 1.15rem;
        }

        a {
            font-size: 3rem;
            color: $accent;
        
            &:hover {
                color: $accent_sec;
            }
        
            &:active {
                color: $primary;
                text-decoration: none;
            }
        }
    }
}

@media (min-width: 425px) {
    html {
        font-size: 80%;
    }

    .content {
        .contact {
            max-width: 360px;
        }
    }
}

@media (min-width: 992px) {
    html {
        font-size: 100%;
    }

    .content {
        .contact {
            max-width: 450px;
        }
    }
}

@keyframes load {
    from {opacity: 0;}
    to {opacity: 1;}
}
